.userinfo_container {
  margin: 4rem 30%;
  background-color: #0077b6;
  outline: 3px solid #03045e;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  min-height: 350px;
  padding: 1.5rem;

  hr {
    margin: 1rem 4rem;
    opacity: 0.5;
    color: gray;
  }

  .user_avatar {
    margin-top: 1rem;
    img {
      height: 150px;
      width: 150px;
      border-radius: 50%;
      outline: 3px solid black;
      cursor: pointer;
      transition: 0.3s;
    }
  }

  .user_username {
    h2 {
      color: #caf0f8;
    }
  }

  .user_details_account {
    display: flex;
    justify-content: space-around;
    margin-top: 0.5rem;
    color: aliceblue;

    span {
      color: black;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
  }
}
